* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Roboto-Italic.ttf');
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

header {
  display: flex;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  background: #1f2937;
  color: #fff;

}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.hero {
  display: flex;
  background: #1f2937;
  height: 500px;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
}

.hero__about {
  width: 600px;
  height: 275px;
}

.main__title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: auto;

}

.main__text {
  color: #e5e7eb;
  margin: auto;
  font-size: 18px;
}

.btn {
  background: #3882f6;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  /* margin: auto; */

}



.image {
  width: 600px;
  height: 275px;
  background: no-repeat center/100% url(../img/primarchs.jpg);
}

.flags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.races__title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.races__flag {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 50%;
  height: 50%;
  margin: auto;
}

.flag__info {
  text-align: center;
}

.quote {
  background: #e5e7eb;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.quote__text {
  padding: 100px 500px;
}


.quote__main {
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  color: #1f2937;
  margin: 0;
}

.quote__author {
  font-weight: 900;
  text-align: right;
  font-size: 24px;
  margin-bottom: 0;
}
