* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Roboto-Italic.ttf');
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

header {
  display: flex;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  background: #1f2937;
  color: #fff;

}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.hero {
  display: flex;
  background: #1f2937;
  height: 450px;
  /* flex: 1; */
}

.main__title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;

}

.main__text {
  color: #e5e7eb;
}

.image {
  background: url(../img/primarchs.jpg);
  width: auto;
  height: auto;
}

